*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pad-x: 1rem;
  --pad-y: 1.25rem;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 16px;
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 400px;
  min-width: 300px;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px silver;
  padding: 1rem;
  margin: 0.5rem;
}

h2 {
  font-size: 1.75rem;
  text-align: center;
}

.notice {
  font-weight: 500;
  line-height: 1.5;
  color: #464646;
  padding: var(--pad-x);

  &::first-line {
    font-weight: bold;
    color: #ed5353;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--pad-y);
  padding: var(--pad-y) var(--pad-x);
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: var(--pad-x);
  max-width: calc(100% - var(--pad-x));

  .input-wrapper {
    max-width: 50%;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.input-wrapper {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  gap: 0.25rem;
}

label {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.75;
}

input,
select {
  font-size: 1rem;
  min-width: 80px;
  max-width: 100%;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.5rem 0.5rem;

  &:user-valid {
    background-color: rgb(196, 241, 196);
    border: 2px #008000 solid;
  }

  &:user-invalid {
    background-color: #ffcccc;
    border: 2px solid #ed5353;
  }

  &:focus {
    border-color: transparent;
    outline: 2px solid;
  }

  &:focus:user-valid {
    border-color: transparent;
    outline: 2px solid #008000;
  }

  &:focus:user-invalid {
    border-color: transparent;
    outline: 2px solid #ed5353;
  }
}

select {
  background-color: inherit;
}

.error {
  font-size: 0.9rem;
  padding-inline: 0.25rem;
  color: red;
}

button[type="submit"] {
  display: block;
  color: whitesmoke;
  background-color: black;
  font-size: 1.25rem;
  padding: 0.5rem 3rem;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0 auto;
  opacity: 0.8;
}

button:hover {
  cursor: pointer;
  opacity: 1;
}
